<div id="greeting" class="greeting">
  <div class="contact-img">
    <div class="headline-contact">
      <!-- heading -->
      <div class="headline">
        <h1 data-aos="fade-up" data-aos-duration="800">
          <p>Hi,</p>
          <p class="nowrap">
            i am <span style="color: #fa2759">Samed </span>
            <span
              >Aza<span style="color: #2dfcd8">p</span>liog<span
                style="color: #2dfcd8"
                >l</span
              >u</span
            >
          </p>
          <p>Front-end Developer</p>
        </h1>
      </div>
      <!-- button -->
      <div
        data-aos="fade-right"
        data-aos-duration="800"
        class="contact-btn-container"
      >
        <a href="#contact">
          <button class="contact-btn">Contact me!</button>
        </a>
      </div>
    </div>
    <!-- profile-image -->
    <div data-aos="fade-left" data-aos-duration="800" class="profile-img">
      <img src="assets/img/samed azaplioglu - Hauptfoto.jpg" />
    </div>
  </div>
  <!-- arrow -->
  <div class="arrow">
    <a data-aos="zoom-in" data-aos-duration="800" href="#skills"
      ><img class="arrow-logo" src="assets/img/arrow.png"
    /></a>
  </div>
</div>

<app-skills></app-skills>
<app-projects></app-projects>
<app-about-me></app-about-me>
<app-contact></app-contact>
