<div class="footer-container">
  <div class="data-links">
    <a routerLink="/imprint">Imprint</a>
    -
    <a routerLink="/data-protection">Data-protection</a>
  </div>
  <div class="logos">
    <a target="_blank" href="https://github.com/Ziariy22"
      ><img src="assets/img/github.png"
    /></a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/samed-azaplioglu-159040247/"
      ><img src="assets/img/linkedIn.png"
    /></a>
    <a target="_blank" href="https://www.xing.com/profile/Samed_Azaplioglu/cv"
      ><img src="assets/img/xing.png"
    /></a>
  </div>
</div>
