<div id="about-me" class="about-me-container">
  <div class="about-me">
    <img
      data-aos="fade-right"
      data-aos-duration="750"
      class="about-profile-img"
      src="assets/img/profile-2-portfolio.jpg"
    />
    <div data-aos="fade-left" data-aos-duration="750" class="about-me-text">
      <h1>About me.</h1>
      <p>
        Hi, my name is Samed Azaplioglu and I am 22 years old living in
        Augsburg.
      </p>
    </div>
  </div>
  <div data-aos="fade-up" class="storytelling-container">
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/walking.png" /></div>
      <h2>Journey began</h2>
      <p>
        I was looking for a new job with challenges and constant further
        education and I found by accident a coding app with my long interest in
        coding & technology and started with it.
      </p>
    </div>
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/heart.png" /></div>
      <h2>Interest</h2>
      <p>
        After three months of self-study, I decided to take further professional
        education at the developer academy in Germany, which offers a lot of
        practical small and big projects in Javascript and Angular.
      </p>
    </div>
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/lupe.png" /></div>
      <h2>Academy</h2>
      <p>
        With the support of the academy, I was able to gain a lot of experience
        quickly. That made it fun and I found the passion that I want to work
        within a job.
      </p>
    </div>
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/plane.png" /></div>
      <h2>Education</h2>
      <p>
        I learned so much in education and it was a lot of fun. I learned to
        create from small applications to large business websites alone and in
        groups. With my independent way of working through my experience, I look
        forward to starting my career in IT in a junior developer position.
      </p>
    </div>
  </div>
</div>
