<div id="about-me" class="about-me-container">
  <div class="about-me">
    <img
      data-aos="fade-right"
      data-aos-duration="750"
      class="about-profile-img"
      src="assets/img/profile-2-portfolio.jpg"
    />
    <div data-aos="fade-left" data-aos-duration="750" class="about-me-text">
      <h1>About me.</h1>
      <p>
        Hi, my name is Samed Azaplioglu I am 22 years old living in Augsburg.<br />
        <br />
        I finished my apprenticeship as a security-guard in 2021 und after that
        I was working one year in the company.<br />
        <br />
        But I noticed that isn't the job for my life and with time I became
        aware of coding through a friend who is studying informatics and my
        longer interest since my childhood.<br />
        <br />
        Thus began my journey to become a front-end developer.
      </p>
    </div>
  </div>
  <div data-aos="fade-up" class="storytelling-container">
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/walking.png" /></div>
      <h2>Journey began</h2>
      <p>
        I found a coding-app by accident that explains web-development with
        little tutorials.<br />
        <br />
        Because of that, I found out that makes really fun and I decided to work
        as a software engineer.
      </p>
    </div>
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/heart.png" /></div>
      <h2>Interest</h2>
      <p>
        I wanted to know more and get better and I took an online course with
        certificates.<br />
        <br />
        But I found out quickly that I couldn't get a job with self-study and
        certificates.
      </p>
    </div>
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/lupe.png" /></div>
      <h2>Academy</h2>
      <p>
        I found the academy through youtube and podcasts and I applied straight
        away.<br />
        <br />
        After the conversation, I knew that the right way to become as fast as
        possible a software engineer.<br />
        <br />
        Thus I started my education as a front-end developer full-time.
      </p>
    </div>
    <div class="storytelling">
      <div class="storytelling-img"><img src="assets/img/plane.png" /></div>
      <h2>Education</h2>
      <p>
        I learned so much in education and it was a lot of fun.
        <br />
        <br />
        I learned to create from small applications to large business websites
        alone and in groups.<br />
        <br />
        I look forward to using the knowledge that I learned and working as a
        front-end developer.
      </p>
    </div>
  </div>
</div>
