.imprint{
    width: 100vw;
    max-width: 100%;
    height: 587px;
    padding-left: 200px;
    padding-top: 200px;
    background-color: white;
    color: black;
    font-weight: 400;
}

@media(max-width: 1000px) {

    .imprint{
        padding-left: 50px;
        padding-top: 150px;
    }
}